trigger:
  - azure-pipelines

pool:
  vmImage: "ubuntu-latest"

variables:
  azureSubscription: "azureSubscription"
  acrConnection: "acrConnection"
  acrLoginServer: "acrincludia2771.azurecr.io"
  webAppName: "app-includia-iot-2771"
  buildContext: "."
  dockerfilePath: "Dockerfile"

steps:
  - task: Docker@2
    displayName: "Build & Push IoT"
    inputs:
      containerRegistry: "$(acrConnection)"
      repository: "$(webAppName)"
      command: "buildAndPush"
      Dockerfile: "$(dockerfilePath)"
      buildContext: "$(buildContext)"
      tags: "latest"

  - task: AzureWebAppContainer@1
    displayName: "Deploy IoT to Azure"
    inputs:
      azureSubscription: "$(azureSubscription)"
      appName: "$(webAppName)"
      containers: "$(acrLoginServer)/$(webAppName):latest"
      appSettings: '-GEMINI_API_KEY "$(GOOGLE_API_KEY)"'
